* {
  box-sizing: border-box; }

body {
  margin: 0; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

h1, h2, h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 100%;
  margin: auto; }

.containerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.columna {
  width: 100%; }

.main-header {
  width: 100%; }
  .main-header__contactInfo__phone {
    background-color: salmon;
    color: white;
    margin: 0 auto;
    padding: 10px; }
  .main-header__contactInfo__address {
    padding: 10px;
    margin: 0; }
  .main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px; }

.logo {
  font-size: 1.8em;
  color: black;
  padding: 10px;
  font-family: "Pacifico", cursive;
  font-weight: 100; }

.main-nav {
  width: 100%;
  position: relative;
  z-index: 2000;
  padding: 10px; }

.icon-menu {
  display: block;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em; }

.social-icon {
  display: flex;
  justify-content: flex-end; }
  .social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%; }
  .social-icon__link {
    text-decoration: none; }

.menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.2s linear; }
  .menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none; }
    .menu__link--select {
      background-color: salmon; }
  .menu__link:hover {
    background-color: salmon; }

.mostrar {
  height: 242px; }

.grupo--color .container {
  background-color: rgba(250, 128, 114, 0.7);
  color: white;
  padding: 10px;
  text-align: center; }

.main__titulo {
  margin: 15px 0;
  font-size: 1.8em;
  font-family: "Pacifico", cursive;
  font-weight: 100; }

.columna__title {
  font-size: 1.3em; }

.main__about__descripcion .columna:nth-child(2) {
  padding: 10px; }

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  background-color: salmon;
  color: white;
  padding: 10px;
  margin: 10px auto; }

.special .columna {
  margin-bottom: 30px;
  text-align: center; }

.special__img {
  margin: auto;
  max-width: 350px; }

.special__title {
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 20px; }

.grupo__title {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-weight: 100;
  font-size: 2.5em;
  margin: 30px; }

.banner {
  margin-top: -70px;
  position: relative; }
  .banner__img {
    width: 100%;
    height: 500px;
    object-fit: cover; }
  .banner__content {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-family: "Pacifico", cursive; }

.banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  top: 0; }

.main-footer {
  background: #222;
  color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: .8em; }

@media screen and (min-width: 480px) {
  .logo {
    color: white; }
  .main-header__contactInfo {
    text-align: right; }
    .main-header__contactInfo__phone {
      background: none; }
    .main-header__contactInfo__address {
      color: white; }
  .banner {
    margin-top: -200px;
    z-index: -1000; }
    .banner__content {
      font-size: 2em;
      z-index: 3000; }
  .columna--50 {
    width: 50%; }
  .columna--50-25 {
    width: 49%; }
  .columna33 {
    width: 33%; }
  .main-nav {
    background: rgba(0, 0, 0, 0.6); }
  .main__about__descripcion .columna:nth-child(2) {
    padding: 20px;
    font-size: 1.1em; }
  .special .columna {
    padding: 5px;
    border: 4px groove rgba(245, 161, 227, 0.3);
    border-radius: 2px; }
  .special__img {
    height: 200px;
    object-fit: cover;
    border-radius: 1%; }
  .main-footer .containerFlex {
    align-items: flex-start;
    text-align: center; } }

@media screen and (min-width: 768px) {
  .main__titulo {
    font-size: 2em; }
  .main__about__descripcion {
    margin-top: 30px; }
    .main__about__descripcion .columna--50:nth-child(2) {
      font-size: 1.5em; }
      .main__about__descripcion .columna--50:nth-child(2) .columna__txt {
        line-height: 40px; }
  .banner {
    margin-top: -200px;
    z-index: -1000; }
    .banner__content {
      font-size: 2em; }
  .columna--50-25 {
    width: 24.5%; }
  .grupo__title {
    font-size: 2.7em; }
  .special__title {
    font-size: 1.3em; } }

@media screen and (min-width: 1024px) {
  .container {
    width: 95%; }
  .logo {
    font-size: 2.3em;
    padding: 0; }
  .main-header__contactInfo__phone {
    padding-right: 0;
    font-size: 1.15em; }
  .main-header__contactInfo__address {
    padding-right: 0;
    font-size: 1.15em; }
  .main-nav {
    padding: 0; }
  .banner {
    margin-top: -240px; }
    .banner__content {
      font-size: 2.5em;
      transform: translateX(-50%) translateY(-50%); }
    .banner__img {
      height: 800px; }
  .icon-menu {
    display: none; }
  .menu {
    display: flex;
    height: auto;
    position: static;
    width: auto; }
    .menu__link {
      padding: 30px; }
  .grupo--color .container {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px; }
  .main__titulo {
    font-size: 2.5em; }
  .main__txt {
    font-size: 1.2em;
    line-height: 25px; }
  .main__about__descripcion .columna--50:nth-child(2) .columna__txt {
    line-height: 50px; }
  .main__about__descripcion .columna--50:nth-child(2) .img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  .special__img {
    height: 300px; } }

@media screen and (min-width: 1600px) {
  .container {
    width: 95%; }
  .main__about__descripcion .columna:nth-child(1) .img {
    width: 100%;
    height: 350px;
    object-fit: cover; }
  .banner {
    margin-top: -270px;
    z-index: -1000; }
    .banner__content {
      font-size: 2em; } }

.nosotros {
  text-align: center;
  margin-bottom: 20px; }
  .nosotros__title {
    font-family: 'Pacifico', cursive;
    color: salmon;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px; }
  .nosotros__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto; }
  .nosotros__txt {
    padding: 10px; }
  .nosotros .containerFlex {
    align-items: flex-start; }

@media screen and (min-width: 480px) {
  .nosotros__img {
    width: 150px;
    height: 150px; } }

@media screen and (min-width: 768px) {
  .nosotros__img {
    width: 220px;
    height: 220px; } }

@media screen and (min-width: 1024px) {
  .nosotros__img {
    width: 300px;
    height: 300px; }
  .nosotros__title {
    font-size: 2.1em; } }

@media screen and (min-width: 1600px) {
  .nosotros__img {
    width: 400px;
    height: 400px; } }

.sabores {
  text-align: center;
  margin: 30px;
  padding: 10px; }
  .sabores__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto; }
  .sabores__txt {
    padding: 10px;
    font-size: 1.8em; }
  .sabores__title {
    font-family: "Pacifico", cursive;
    color: salmon;
    font-weight: lighter;
    font-size: 1.9em;
    margin-bottom: 10px;
    border-bottom: solid 2px black; }
  .sabores__precio {
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 10%;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100px;
    background-color: #e9b1ab;
    color: white;
    padding: 10px;
    margin: 20px auto; }
  .sabores__boton {
    margin-bottom: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background-color: salmon;
    color: white;
    padding: 10px;
    margin: 10px auto; }
  .sabores .containerFlex {
    align-items: flex-start;
    margin: 30px 0 30px 0; }

@media screen and (min-width: 480px) {
  .sabores__img {
    width: 100px;
    height: 100px; }
  .columna {
    padding: 15px; } }

@media screen and (min-width: 768px) {
  .sabores__img {
    width: 200px;
    height: 200px; }
  .columna {
    padding: 20px; } }

@media screen and (min-width: 1024px) {
  .sabores__img {
    width: 250px;
    height: 250px; }
  .sabores__title {
    font-size: 2.1em; }
  .columna {
    padding: 30px; } }

@media screen and (min-width: 1600px) {
  .sabores__img {
    width: 300px;
    height: 300px; }
  .columna {
    padding: 45px; } }

.contacto-info {
  padding: 10px;
  padding-top: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid salmon; }
  .contacto-info [class*="icon-"] {
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 5px; }
  .contacto-info .social-icon {
    justify-content: flex-start;
    margin-bottom: 10px; }
    .contacto-info .social-icon [class*="icon-"] {
      background-color: black;
      color: white;
      margin-left: 0;
      margin-right: 15px; }

.columna__title {
  font-family: "pacifico", cursive;
  font-weight: 100; }

.formulario {
  padding: 10px;
  padding-top: 0; }
  .formulario__label {
    display: block;
    width: 100%; }
  .formulario__input--txt {
    padding: 10px;
    margin-bottom: 10px; }
  .formulario__textarea {
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px; }
  .formulario__btn {
    border: none;
    cursor: pointer;
    font-size: 1em; }

@media screen and (min-width: 480px) {
  .contacto .containerFlex {
    align-items: flex-start; }
  .contacto-info p {
    font-size: 0.8em; }
  .contacto-info {
    border-right: 1px solid salmon;
    border-bottom: none; } }

@media screen and (min-width: 480px) {
  .contacto-info p {
    font-size: 1em; }
  .columna__title {
    font-size: 1.5em; } }

.gris {
  background-color: gray; }

.rosa {
  background-color: pink; }

.centrar {
  text-align: center; }

input {
  width: 45%; }
