@import "../scss/layout/base";
@import "../scss/layout/header";
@import "../scss/layout/nav";
@import "../scss/layout/mainHome";
@import"../scss/layout/section";
@import"../scss/layout/carrusel";
@import"../scss/layout/footer";
@import"../scss/layout/responsive";
@import"../scss/nosotros/_nosotros";
@import"../scss/nosotros/nosotrosResponsive";
@import"../scss/sabores/sabores";
@import"../scss/sabores/saboresResponsive";
@import"../scss/contacto/contacto";
@import"../scss/contacto/contactoResponsive";
@import "../scss/backoffice/backoffice.scss";