@media screen and (min-width: 480px){
    .sabores{
        &__img{
            width: 100px;
            height: 100px;
        }
    }
    .columna{
        padding: 15px;
    }
}
@media screen and (min-width: 768px){
    .sabores{
        &__img{
            width: 200px;
            height: 200px;
        }        
    }
    .columna{
        padding: 20px;
    }
}
@media screen and (min-width: 1024px){
    .sabores{
        &__img{
            width: 280px;
            height: 280px;
        }
        &__title{
            font-size: 2.1em;
        }
    }
    .columna{
        padding: 30px;
    }
}
@media screen and (min-width: 1600px){
    .sabores{
        &__img{
            width: 400px;
            height: 400px;
        }
    }
    .columna{
        padding: 45px;
    }
}