.sabores{
    text-align: center;
    margin: 30px;
    padding: 10px;
    &__img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
    }
    &__txt{
        padding: 10px;
    }
    &__title{
        font-family: 'Pacifico', cursive;
        color: salmon;
        font-weight: lighter;
        font-size: 1.8em;
        margin-bottom: 10px;
        border-bottom: solid 2px black;
        
    }
    &__precio{
        margin-bottom: 30px;
    }
    & .containerFlex{
        align-items: flex-start;
        margin: 30px 0 30px 0;
    }
}