.sabores {
    text-align: center;
    margin: 30px;
    padding: 10px;
    &__img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
    }
    &__txt {
        padding: 10px;
        font-size: 1.8em;
    }
    &__title {
        font-family: "Pacifico", cursive;
        color: salmon;
        font-weight: lighter;
        font-size: 1.9em;
        margin-bottom: 10px;
        border-bottom: solid 2px black;
    }
    &__precio {
        margin-bottom: 50px;
        margin-top: 50px;
        border-radius: 10%;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100px;
        background-color: rgb(233, 177, 171);
        color: white;
        padding: 10px;
        margin: 20px auto;
    }
    &__boton{
        margin-bottom: 30px;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 120px;
        background-color: salmon;
        color: white;
        padding: 10px;
        margin: 10px auto;
        
    }
    & .containerFlex {
        align-items: flex-start;
        margin: 30px 0 30px 0;
    }
}
