.grupo--color {
    & .container {
        background-color: rgba($color: salmon, $alpha: 0.7);
        color: white;
        padding: 10px;
        text-align: center;
    }
}
.main {
    &__titulo {
        margin: 15px 0;
        font-size: 1.8em;
        font-family: "Pacifico", cursive;
        font-weight: 100;
    }
}
.columna {
    &__title {
        font-size: 1.3em;
    }
}
.main {
    &__about {
        &__descripcion {
            & .columna:nth-child(2) {
                padding: 10px;
            }
        }
    }
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background-color: salmon;
    color: white;
    padding: 10px;
    margin: 10px auto;
}

.grupo {
    &__title {
        font-family: "Pacifico", cursive;
        text-align: center;
        font-weight: 100;
        font-size: 2.5em;
        margin: 30px;
    }
}
