.main-nav {
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 10px;
}
.icon-menu {
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.social-icon {
    display: flex;
    justify-content: flex-end;

    & [class*="icon-"] {
        color: black;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
    }

    &__link {
        text-decoration: none;
    }
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;

    &__link {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        &--select {
            background-color: salmon;
        }
    }
    &__link:hover {
        background-color: salmon;
    }
}
.mostrar {
    height: 242px;
}
