.banner {
    margin-top: -70px;
    position: relative;
    &__img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    &__content {
        width: 90%;
        color: white;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1.5em;
        font-family: "Pacifico", cursive;
        
    }
}
.banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 1;
    top: 0;
}

