.carrusel{
    position: relative;
    img{
        width: 100%;
    max-width: 100%;
    object-fit:cover;
    height: 500px;
}
ul, ol{
    list-style: none;
    padding: 0;
}
.icon{
    display: inline-block;
    
}
.slider{
    width: 100%;
    overflow: hidden;
}
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;
    
	color:salmon;
    
	font-size: 35px;
	cursor: pointer;
	z-index: 2;
}

.left{
	left: 30px;
    
}

.right{
	right: 30px;
}