
.contacto-info {
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid salmon;
    [class*="icon-"] {
        font-size: 1.3em;
        margin-right: 7px;
        position: relative;
        top: 5px;
    }
    & .social-icon {
        justify-content: flex-start;
        margin-bottom: 10px;
        [class*="icon-"] {
            background-color: black;
            color: white;
            margin-left: 0;
            margin-right: 15px;
        }
    }
}
.columna {
    &__title {
        font-family: "pacifico", cursive;
        font-weight: 100;
    }
}
.formulario{
    padding: 10px;
    padding-top: 0;
    
    &__label{
        display: block;
        width: 100%;
    }
    &__input--txt{
        padding: 10px;
        margin-bottom:10px ;
    }
    &__textarea{
        min-height: 100px;
        min-width: 100%;
        max-width: 100%;
        max-height: 200px;
    }
    &__btn{
        border: none;
        cursor: pointer;
        font-size: 1em;
    }
}