.nosotros{
    text-align: center;
    margin-bottom: 20px;
    &__title{
        font-family: 'Pacifico', cursive;
        color: salmon;
        font-weight: bold;
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    &__img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
    }
    &__txt{
        padding: 10px;
    }
    & .containerFlex{
        align-items: flex-start;
    }
}