@media screen and (min-width: 480px){
    .nosotros{
        &__img{
            width: 150px;
            height: 150px;
        }
    }
}
@media screen and (min-width: 768px){
    .nosotros{
        &__img{
            width: 220px;
            height: 220px;
        }
    }
}
@media screen and (min-width: 1024px){
    .nosotros{
        &__img{
            width: 300px;
            height: 300px;
        }
        &__title{
            font-size: 2.1em;
        }
    }
}
@media screen and (min-width: 1600px){
    .nosotros{
        &__img{
            width: 400px;
            height: 400px;
        }
    }
}